# Masukan API ID ambil di web my.telegram.org
API_ID = "12673184"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "8ab1bc500fa4e5cd00afe52d67ae3a28"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQANrmuUfj2CP4J5c0rScZjnwXiPm5ScFe8CBDL63Woodmyo79RNHrLmfczGpURbv-fBM1qFsekacBwIcwrOL4UkHAyRdgtyjyb3QytgYyQxniKXpa6DTLQa201iEQ0kfsT13t9XHncSVakVz_-rwu9deW0rEWdEzkLn7dUgnwcQo-c3wKikPkXoVuLfZrr6HiAIv3dtRH8Lzj3lZKtf40gHF2mFF7a5Qb2Js5SKCvMxwYWp8rzX79m0j5u4tOSXBZco8O34gZU-l5RJ4aFqM_AJhDRk0533HTciHiWYsqTKci9ZS4Qfc_ASiGBBLoThm3-Y-qJ3mt66oh3_MygRqHX-gAAAABvGVUBAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -1001581201769 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://yfzhpzpe:4AMyZROgPrfsa_sKtvbQdHicTxLfl9cK@tyke.db.elephantsql.com/yfzhpzpe"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False
